<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Career</title>
</head>
<body>
    <h1>Job Careers</h1>
    <img src="static/banner.jpg" alt="image" height="320">

    <h2>About Job Career</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis ad eveniet quis, voluptates nam est numquam iusto consequatur, a voluptatum dolor ut. Provident eaque laboriosam molestias odit molestiae neque eligendi. Cumque, distinctio.</p>

    <h2>Open Position</h2>
    <p>TODO</p>

    <button>Contact Us</button>
</body>
</html>